@import "open-props/fonts";

/* https://open-props.style/#typography */

/* 
--font-{sans,serif,mono}
--font-size-{00-9}
--font-size-fluid-{0-3}
--font-weight-{1-9}
--font-letterspacing-{0-7}
--font-lineheight-{00-5}
 */

html {
    --font-sans: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
        Cantarell, Noto Sans, sans-serif;
    --font-serif: ui-serif, serif;
    --font-mono: "JetBrains Mono", Dank Mono, Operator Mono, Inconsolata,
        Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono,
        Source Code Pro, monospace;
    --font-size-00: 0.5rem;
    --font-size-0: 0.75rem;
    --font-size-1: 1rem;
    --font-size-2: 1.1rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.5rem;
    --font-size-5: 1.875rem;
    --font-size-6: 2.25rem;
    --font-size-7: 3rem;
    --font-size-8: 3.75rem;
    --font-size-9: 4.5rem;
}
